 .u-section-1 {
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 853px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  --text-color-var: #fd003c;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  line-height: 1;
  width: 798px;
  margin: 178px auto 0;
}

.u-section-1 .u-text-2 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 1;
  width: 671px;
  margin: 29px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 974px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 823px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 928px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 175px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1241px;
  }

  .u-section-1 .u-text-1 {
    font-size: 5.333333333333333rem;
    margin-top: 1199px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.6666666666666665rem;
    margin: 53px 0 -132px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1145px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: 400px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 12px;
    margin-bottom: 60px;
  }
}